body {
    background: #222;
    padding: 0;
    margin: 0;
  }
  
  #background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #c81f33;
    top: 0;
    left: 0;
    text-align: center;
  }
  #background .stripe {
    width: 15%;
    height: 100%;
    background: #b21c2d;
    display: inline-block;
    margin: 0 6%;
  }
  
  a {
    cursor: default;
    outline: none;
  }
  
  #windows {
    position: relative;
    width: 250px;
    height: 400px;
    margin: 5% auto 0;
    background-color: #141414;
    perspective: 1000px;
  }
  #windows .frame {
    z-index: -1;
    position: absolute;
  }
  #windows .frame.out {
    background: #fffdff;
    width: 236px;
    height: 386px;
    padding: 7px;
  }
  #windows .frame.in {
    background: #f2f2f2;
    border: 2px solid #ddd;
    width: 212px;
    height: 362px;
    padding: 10px;
  }
  #windows form {
    background: #141414;
    width: 212px;
    height: 362px;
    padding: 0;
    margin: 0;
  }
  #windows form fieldset {
    border: none;
    opacity: 0;
    transition: 1000ms;
  }
  #windows form input,
  #windows form textarea {
    background: #05E095;
    color: #000;
    outline: none;
    width: 170px;
    margin: 10px auto;
    border: 1px solid #05E095;
    padding: 4px;
    display: block;
    font-size: 10pt;
    transition: 500ms;
  }
  #windows form input:hover,
  #windows form textarea:hover {
    background: transparent;
    color: #05E095;
  }
  #windows form textarea {
    resize: none;
    height: 222px;
  }
  #windows form button {
    outline: none;
    background: #ff9900;
    color: #000;
    width: 178px;
    margin: 10px auto;
    border: 1px solid #ff9900;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    transition: 500ms;
  }
  #windows form button:hover {
    background: transparent;
    color: #ff9900;
  }
  #windows .hinge {
    position: absolute;
    width: 10px;
    height: 20px;
  }
  #windows .hinge .screw {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: #483c07;
    margin: 40% auto;
  }
  #windows .hinge.right {
    right: 0;
    transform: skewY(-5deg);
  }
  #windows .hinge.left {
    left: 0;
    transform: skewY(5deg);
  }
  #windows .hinge.top {
    top: 70px;
  }
  #windows .hinge.bottom {
    bottom: 70px;
  }
  #windows .hinge.outside {
    background: #604f09;
  }
  #windows .hinge.inside {
    background: #8E760E;
  }
  #windows .shadow {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(34, 34, 34, 0.1);
    transition: 800ms;
    filter: blur(2px);
  }
  #windows .shadow.right {
    right: 0;
    transform-origin: 100% 0;
  }
  #windows .shadow.left {
    left: 0;
    transform-origin: 0 0;
  }
  #windows .door {
    top: 0;
    position: absolute;
    width: 49.8%;
    height: 100%;
    transition: 1000ms;
    transform-style: preserve-3d;
  }
  #windows .door .base {
    width: 70%;
    height: 44%;
    padding-top: 2px;
    display: block;
    margin: 15px auto 20px auto;
  }
  #windows .door .base .hole {
    width: 100%;
    height: 3px;
    background: #58cefc;
    display: block;
    margin: 0 0 7px 0;
    transform-origin: 50% 50%;
    transition: 300ms;
  }
  #windows .door.right {
    right: 0;
    transform-origin: 100% 0;
  }
  #windows .door.right .face.top {
    transform: translate3D(0, 0, 10px) rotateY(90deg);
  }
  #windows .door.left {
    left: 0;
    transform-origin: 0 0;
  }
  #windows .door.left .face.top {
    transform: translate3D(125px, 0, 10px) rotateY(90deg);
  }
  #windows .face {
    position: absolute;
    transform-origin: 0 0;
  }
  #windows .face.front, #windows .face.back {
    width: 100%;
    height: 100%;
  }
  #windows .face.front {
    background-color: #04aaea;
    transform: translate3D(0, 0, 10px);
  }
  #windows .face.front .base {
    background: black;
  }
  #windows .face.back {
    background-color: #0498d1;
    transform: translate3D(0, 0, 0);
  }
  #windows .face.back .base {
    background: black;
  }
  #windows .face.top {
    width: 10px;
    height: 100%;
    background-color: #0386b8;
  }
  #windows .flowerpot {
    width: 290px;
    height: 100px;
    position: absolute;
    bottom: -140px;
    left: -20px;
    perspective: 1000px;
  }
  #windows .flowerpot .hook {
    width: 7px;
    height: 80px;
    position: absolute;
    background: #4f3019;
    top: -65px;
    border-radius: 6px;
  }
  #windows .flowerpot .hook.right {
    right: 40px;
    transform: skewX(5deg);
  }
  #windows .flowerpot .hook.left {
    left: 40px;
    transform: skewX(-5deg);
  }
  #windows .flowerpot .flowers {
    width: 327px;
    height: 136px;
    position: absolute;
    z-index: 3;
    top: -27px;
    left: -12px;
    background: url("img/flowerpot.png");
  }
  #windows .flowerpot .head {
    width: 300px;
    height: 20px;
    top: 0;
    left: -5px;
    position: absolute;
    background: #8a532b;
  }
  #windows .flowerpot .frontFace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: #9d5f31;
    transform-origin: 0 100%;
    transform: translateZ(50px) rotateX(-30deg);
  }
  #windows .flowerpot .leftFace,
  #windows .flowerpot .rightFace {
    width: 50px;
    height: 20px;
    position: absolute;
    z-index: 1;
    background: #9d5f31;
  }
  #windows .flowerpot .leftFace {
    left: -5px;
    transform-origin: 0 100%;
    transform: rotateY(117deg) skewY(9deg);
  }
  #windows .flowerpot .rightFace {
    right: -5px;
    transform-origin: 100% 100%;
    transform: rotateY(-117deg) skewY(-9deg);
  }
  #windows .flowerpot .backFace {
    width: 300px;
    height: 20px;
    position: absolute;
    background: #673e20;
    transform-origin: 0 100%;
    left: -5px;
  }
  #windows:hover > .door .hole {
    background: #0db9fb;
    transform: scaleY(3);
  }
  #windows:hover > .frame form fieldset {
    opacity: 1;
  }
  #windows:hover > .door.right {
    transform: rotateY(170deg);
  }
  #windows:hover > .door.left {
    transform: rotateY(-170deg);
  }
  #windows:hover > .shadow.right {
    transform: scaleX(-1) translateY(20px) skewY(-5deg);
  }
  #windows:hover > .shadow.left {
    transform: scaleX(-1) translateY(20px) skewY(5deg);
  }
  #windows:target .door .hole {
    background: #0db9fb;
    transform: scaleY(3);
  }
  #windows:target .frame form fieldset {
    opacity: 1;
  }
  #windows:target .door.right {
    transform: rotateY(170deg);
  }
  #windows:target .door.left {
    transform: rotateY(-170deg);
  }
  #windows:target .shadow.right {
    transform: scaleX(-1) translateY(20px) skewY(-5deg);
  }
  #windows:target .shadow.left {
    transform: scaleX(-1) translateY(20px) skewY(5deg);
  }